<div class="about-main">
  <h2>せどらーに自由を！せどらー共和国とは</h2>
      <p>せどらーのためのWEBアプリケーションです。
      極ライトユーザーのせどらーに貢献することを目的（ミッション）としています。
      その中でも仕入れと在庫管理のみに特化してせどらーの負担軽減に寄与するアプリです。
      メルカリ物販に特化しています。
      アマゾンのセラーセントラル大口アカウント（約5000円）、プライスター（約5000円）、等毎月の固定費をかけたものの、挫折した迷えるせどらーを救済するために生まれた無料ツールです。
      社会人で今月は稼働するけれども、来月は忙しいからあまり動けない、学生で翌月テストがあるから、ちょっとしか稼働できない、しかし、大口アカウントの固定費と有料ツールの料金は毎月かかってくる
      結果、赤字で嫌になって辞めてしまった経験を持つ方、せどりってどんな感じだろう、お試しに１ヶ月くらいやってみるかな、とお思いの方、そんな方にぴったりのアプリです。
      前提としてkeepa（約2700円）の登録だけは推奨しますが、全くなくても行けなくはないです。１番のポイントは自前のデータベースが持てることにあります。これを誰でも持てるようにし、成功と失敗の経験が蓄積して自分の引き出しが増えるようにシンプルに設計されています。
      たくさん行動してください。そして、たくさんこのアプリを使い込んでください。そうすれば、目利き、相場観が嫌でも養われること間違いありません。
      そして、休みたいとき、やめたい時は、いつでもどうぞ。またやりたくなった時は、今までのデータを見て、復活すれば良いと思います。夢を持って始めたビジネス（物販）が蓋を開けてみたら、自分のスキルがないばっかりにメガテックの下で搾取される
      奴隷的生活だったというやるせない思いに抗う気概でせどらー共和国と名づけました。せどらーに自由を！！
      このアプリを物販で自力で稼げるようになるステップアップのきっかけにしてくだされば幸いです。稼げるようになり、もっと高機能の有料サービスを使ってみてもいいかなと乗り換えるまでの橋渡しができればこれもまた幸いです。
      社会人、学生、主婦の方のせどりライフが充実したものになり、自分が主役の楽しい人生になるようお祈りしております。自由をあなたに！
  </p>
  <img class="about-img" src="/doraneko.jpg">
</div>