<% provide(:title, "About") %>
<div class="about-main">
  <h2>お医者さん、看護師さんにさらなる安心・安全を！！<br>患者に自由と退院を!<H2>
  <h2>入院さんナースメイトとは?</h2>
      <p>入院さんナースメイトとは、患者自己申告型電子カルテです。入院した時に、医師、看護師、薬剤師、栄養士、ケアワーカー、患者のチームワークを最大限引き出すことを目的（ミッション）としたWEBアプリケーションです。
      極軽度〜軽程度の患者さんとご家族がメインユーザーとして、既存の病院の電子カルテ、管理体制とシナジーを生み出すことを想定しています。抜け漏れ忘れ引き継ぎミスがないようのダブルチェックの役割を果たします。
      その中でも自己申告（報告、連絡、相談）と自覚症状（自己申告ベース）管理のみに特化して看護師さんの負担軽減に寄与するアプリです。
      1番のポイントは首尾一貫した自前のデータベースが持てることにあり、万が一病院側での引き継ぎに何らかの連絡ミスや障害があった時の、早期復旧、早期リカバリーに貢献します。
      とはいえ病院側で、しっかり管理してくれていることですので、無理せず、趣味程度でお考えください。休みたいとき、やめたい時は、いつでもどうぞ。またやりたくなった時は、今までのデータを見て、復活すれば良いと思います。
      お世話になった医師さん、看護師さんに貢献できるよう"入院さんナースメイト"と名づけました。お医者さん、看護師さんにさらなる安心・安全を！！患者に自由と退院を！
      このアプリを活用し、自分が主役の楽しい人生になるようお祈りしております。自由をあなたに！
  </p>
  <img class="about-img" src="/doraneko.jpg">
</div>