<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <style>
    body {
        padding-top: 60px;
        background-image: url("/nurse1.jpeg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0;
    }

    .about-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 960px;
        margin: 0 auto;
        margin-left: -20px;
        margin-right: -20px;
        padding: 20px;
        box-sizing: border-box;
    }

    .text-content {
        flex-basis: 66%;
        margin-right: 40px;
        background-color: rgba(255, 255, 255, 0);
        padding: 20px;
        padding-left: 20px;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .nurse-image {
        flex-basis: 33%;
    }

    .nurse-image img {
        width: 100%;
        height: auto;
        display: block;
    }
</style>
</head>
<body class="about">
    <div class="about-main">
      <div class="text-content">
        <h1>入院さんナースメイトとは?</h1>
        <h3>　　　　医療チームと患者の連携を強化！</h3>
        <h3>　入院さんナースメイトで安心・安全な入院生活へ</h3><br>
        <p></p>
        <p>①入院さんナースメイトは、患者自己申告型電子カルテです。極軽度〜軽程度の患</p>
        <p>　者さんとご家族がメインユーザーで、既存の病院の電子カルテ、看護師、医師と</p>
        <p>　シナジーを生み出すWEBアプリケーションです。　　　　　　　　　　　　　　</p>
        <p>②抜け漏れや引き継ぎミスがないよう、ダブルチェックの役割を果たし、看護師</p>
        <p>　さんの負担軽減に寄与します。SOAP形式で患者の状態を正確に記録し、適切な</p>
        <p>　治療やケアを受けるために適切な情報提供をすることができます。　　　　　　　　　　　　　　　　　　　</p>
        <p>③入院さんナースメイトが持つ首尾一貫したデータベースは、病院側の引き継ぎに</p>
        <p>　何らかの連絡ミスや障害があった場合の早期復旧・リカバリーに貢献します。</p>
        <h3>　　　　　　　自由をあなたに！!</h3>
        <p>このアプリを活用して、自分が主役の楽しい入院生活を送ってください。</p>
      </div>
    </div>
</body>
