<% provide(:title, "About") %>
<body class="about">
  <div class="about-main">
    <h2>お医者さん、看護師さんにさらなる安心・安全を！！患者に自由と退院を!</h2>
    <h2>入院さんナースメイトとは?</h2>
        <p>入院さんナースメイトとは、患者自己申告型電子カルテです。</p>
        <p>入院した時に、医師、看護師、薬剤師、栄養士、ケアワーカー、患者のチームワークを最大限引き出すことを目的（ミッション）としたWEBアプリケーションです。</p>
        <p>極軽度〜軽程度の患者さんとご家族がメインユーザーとして、既存の病院の電子カルテ、管理体制とシナジーを生み出すことを想定しています。</p>
        <p>抜け漏れ忘れ引き継ぎミスがないようのダブルチェックの役割を果たします。</p>
        <p>その中でも自己申告（報告、連絡、相談）と自覚症状（自己申告ベース）管理のみに特化して看護師さんの負担軽減に寄与するアプリです。</p>

        <p>SOAPは、看護師や医療従事者が記録や評価を行う際に使用される枠組みの一つです。SOAPは、次の4つの項目から構成されています。</p>

        <p>Subjective（主観的情報）：患者自身が感じている症状や主張を記録します。例えば、痛みや不安感などです。</p>

        <p>Objective（客観的情報）：看護師が患者を観察した結果、測定値、評価結果など、客観的に得られた情報を記録します。例えば、血圧や体温、創傷の状態などです。</p>

        <p>Assessment（評価）：看護師が患者の状態を評価し、問題点を洗い出します。この項目では、看護師が何を考えたか、どのような判断をしたかを記録します。</p>

        <p>Plan（計画）：看護師が患者の問題点を解決するために、どのような介入を行うか、どのようなケアを提供するかを記録します。</p>

        <p>これらの情報は、患者の状態を正確に評価し、適切な治療やケアを提供するために必要な情報を提供します。</p>



        <p>1番のポイントは首尾一貫した自前のデータベースが持てることにあり、万が一病院側での引き継ぎに何らかの連絡ミスや障害があった時の、早期復旧、早期リカバリーに貢献します。</p>
        <p>とはいえ病院側で、しっかり管理してくれていることですので、無理せず、趣味程度でお考えください。休みたいとき、やめたい時は、いつでもどうぞ。</p>
        <p>またやりたくなった時は、今までのデータを見て、復活すれば良いと思います。</p>
        <p>お世話になった医師さん、看護師さんに貢献できるよう"入院さんナースメイト"と名づけました。お医者さん、看護師さんにさらなる安心・安全を！！患者に自由と退院を！</p>
        <p>このアプリを活用し、自分が主役の楽しい人生になるようお祈りしております。自由をあなたに！</p>

    <%# <img class="about-img" src="/doraneko.jpg"> %>
  </div>
</body>